body{
  display: block;
}


.welcome-title{
    margin-top: -80px ;
    position: absolute;
    top: 200px;
    right: 0px;
    left: 0px;
    bottom: 20px;
    animation: littleTobig 0.6s;
    font-weight: 500;
 }
 
.welcome-title h1{
  border-radius: 15px;
  width:80%;
  text-align: center;
  color: var(--custom-green) ;
  background-color: var(--bg-color);
  transition: all 0.5s;
}

.welcome-title h1:hover{
  transform: scale(1.15);
}

.welcome-title a{
  background-color: var(--bg-color);
  border-radius: 50%;
  transition: all 0.2s;
  border: 4px solid transparent;
}

.welcome-title a:hover{
  transform:scale(1.25);
  border: 4px solid var(--custom-green);
}

.content{
  display: flex;
}

#map{
  width: 56%;
}

.carousel-anim{
  animation: slideToRight 1.5s;
}

.map-anim{
  animation: slideToRight 1.5s;
}

@media screen and (max-width: 768px)
{
  .navbar{
    width: 300px;
  }
  .content{
    flex-direction: column;
  }
  #map{
    width: 100%;
    height: 400px;
  }

  .welcome-title{
    margin-top: 200px ;
    background-color: var(--bg-color);
  }
}

@media screen and (max-width: 1040px){
  .nav-link{
    font-size: large;
    font-weight: 500;
    width: 11em;
  }
  .welcome-title{
    margin-top: -80px ;
  }
}