article{
    margin-top: 200px;
    width: 70%;
}
img{
  max-width: fit-content;
}
@media screen and (max-width: 1040px)
{   
    article{
        margin-top: 200px;
    }
}
.place-infos{
    margin-top: 230px;
    background-color: var(--bg-page);
  }
  
  @media only screen and (max-width: 768px) {
    .place-infos{
      margin-top: 270px;
    }
  }
  
  .circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    margin: 20px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 50%;
    background-color: #edc86a;
    font-size: large;
    transition: all 0.5s;
    animation: littleTobig 0.5s;
    -webkit-box-shadow: -7px 10px 20px 5px rgba(197, 187, 45, 0.596);
    -moz-box-shadow: -7px 10px 20px 5px rgba(197, 187, 45, 0.596);
    box-shadow: -7px 10px 20px 5px rgba(197, 187, 45, 0.596);
  }
  .circle:hover{
    text-decoration: none;
    transform: scale(1.15);
    cursor: pointer;
  }
  .circle span{
    color: white;
  }
  .infos-prat a{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .infos-prat a i{
    /* background-color: #4e7d4a;  */
    padding-right: 15px;
  }
  /* les élus */
.elus{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-elu{
  width: 20%;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff8ce;
  color: #207007;
  text-align: center;
}
.card-elu img{
  border-radius: 10px;
}
.card-elu .contact-text{
  display: none;
}
.card-elu:hover .contact-text{
  display: block;
  animation: littleTobig 0.5s;
}

.card-elu .contact-mail{
  font-size: 20px;
}

.card-elu .fonction{
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
}
  /* FAQ */

.retour-faq a{
  margin: 10px;
}
.retour-faq{
  font-size: x-large;
  margin-top: 160px;
  background-color: var(--bg-page)!important;
}
  
  .card-green a:hover{
    transform: scale(1.15);
  }
  
  .card-green a{
    width: 500px;
    height: 100px;
    background-color: var(--custom-green);
    color: white;
    margin: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: xx-large;
    transition: all 0.5s;
    animation: littleTobig 0.5s;
    -webkit-box-shadow: -7px 10px 20px 5px rgba(57,145,48,0.55);
    -moz-box-shadow: -7px 10px 20px 5px rgba(57,145,48,0.55);
    box-shadow: -7px 10px 20px 5px rgba(57,145,48,0.55);
  }
  .card-green h1{
    width: 80%;
  }
  .card-green-place{
    margin-top: 180px;
    background-color: var(--bg-page);
  }
  @media only screen and (max-width: 768px) {
    .card-green-place{
      margin-top: 296px;
    }
    .notice-target-container{
      margin-top: 200px;
    }
    .card-green a{
      width: 500px;
      height: 100px;
      font-size: medium;
    }
  }
  
  /* TARIFS ET REGLEMENT */
  .tarifs-tab{
    margin-top: 170px;
    width: 80%;

  }
  /* tbody{
    transition: all 0.3s;
    animation: slideToLeft 0.3s ;
  } */

  th{
    background-color: var(--custom-green)!important;
    transition: all 0.3s;
    animation: slideToLeft 0.5s ;
  }
  td{
    transition: all 0.3s;
    animation: slideToRight 0.5s ;
  }

  @media only screen and (max-width: 768px) {
    .tarifs-tab{
      margin-top: 225px;
    }
  }