header .navbar{
    background-color: #e9f0f1;
}

.navbar li{
   border: 0.5px solid black;
   border-radius: 10%;
   list-style: none;
   padding: 0.3em;
   margin: 0.5em;
}

.nav-link{
    font-size: large;
    font-weight: 500;   
}

 #article{
    text-align: center;
    padding-top: 3em;
    padding-left: 10em;
    padding-right: 10em;

 }
 #logo1{
    margin-left: 2em;
 }
 #icone{
    display: flex;
    justify-content: center;
 }