header .navbar{
    background-color: #76b7c5;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
    width: fit-content  ;
}

.nav-link{
    color: white;
    font-size: large;
    font-weight: 500;   
}