* {
   margin: 0;
   padding: 0;
 }
 html, body {
   height: 100%;
 }
 section {
   position: relative;
   width: 100%;
   height: 100%;
 }

 a { 
   color: inherit;
   text-decoration: none;
} 

.bg-image{ 
   background-image: url(../media/img/bg-acceuil-v2.jpg);
   background-repeat: no-repeat;
   background-size:cover;
}

header{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
}

.bg-header{
   background-color: #e9f0f1af;
}

.navbar li{
   list-style: none;
   padding: 0.3em;
   margin: 0.5em;
}

.nav-link{
    font-size: large;
    font-weight: 500;
   width: 13em;
}

 #article{
    text-align: center;
    padding-top: 3em;
    padding-left: 10em;
    padding-right: 10em;

 }
 #logo1{
    margin-left: 2em;
 }
 #icone{
    display: flex;
    justify-content: center;
 }

@keyframes apparitionSousMenu {
   0% {
     box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
     border-top: 2px solid #2169EC;
   }
   30% {
     box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
   }
   100% {
     max-height: 8em;
     border-top: 2px solid #2169EC;
     box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
   }
 }

.sous-menu{
   overflow :hidden;
   max-height : 0;
}

.sous-menu ul li{
   text-align: center;
   font-size:medium;
   font-weight: 400;
}

.sous-menu ul li:hover{
   border-bottom: 1px solid rgb(209, 209, 24);
   cursor: pointer;
}

#menu-deroulant:hover > .sous-menu {
   animation: apparitionSousMenu 0.5s forwards;
 }

 @media screen and (max-width: 1040px)
 {
   .nav-link{
      font-size: large;
      font-weight: 500;
      width: 11em;
  }
 }


/**----------------------------------------------------------------Anase----------------------**/

 /* --------- Card Animation ---------- */
.card:not(:empty):hover,
.card:not(:empty):focus {
  z-index: 1;
  color: #ffffff;
  opacity: 1;
  transform: scale(1.01);
  cursor: pointer;
}
.card:not(:empty):hover:after,
.card:not(:empty):focus:after {
  opacity: 1;
}
.card:not(:empty):hover:before,
.card:not(:empty):focus:before {
  opacity: 0;
}

.card {
  padding: 10px;
  background-image: url("https://www.ou-et-quand.net/partir/images/illustration/oualler/guadeloupe-basse-terre_46.jpg");
  background-size: cover;
  color: #ffffff;
  border-radius: 0.7em;
  opacity: 0.6;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: transform, color, opacity;
}
.card:not(:empty):before {
  box-shadow: -2px 2px 8px 2px hsla(0deg, 0%, 0%, 0.2);
}
.card:empty {
  opacity: 0.3;
}
.card:before, .card:after {
  content: "";
  position: absolute;
  border-radius: 0.7em;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}
.card:after {
  box-shadow: -20px 20px 12px 6px hsla(0deg, 0%, 0%, 0.2);
  opacity: 0;
}

/* --------- Grid ---------- */
.grid {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 20px;
}

.item0 {
  grid-area: 1/1/1/3;
  /*&.card:hover,
  &.card:focus {
  	background: #9595a5;
  }*/
}

.item1 {
  grid-area: 2/1/5/3;
  /*&.card:hover,
  &.card:focus {
  	background: #9595a5;
  }*/
}

.item2 {
  grid-area: 2/3/2/3;
}

.item3 {
  grid-area: 3/3/3/3;
  padding-bottom: 3em;
}

.item4 {
  grid-area: 4/3/6/3;
  padding-bottom: 3em;
}

.item5 {
  grid-area: 6/3/9/3;
}

.item7 {
  grid-area: 5/2/9/2;
  padding-bottom: 15em;
}

.item9 {
  grid-area: 5/1/7/1;
}

.item10 {
  grid-area: 9/2/15/4;
  padding-bottom: 7em;
}

.item11 {
  grid-area: 7/1/15/1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*--------- Layout -------- */
*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
}

body.actu {
  font-family: "PT Sans", sans-serif;
  background: #e8ece7;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

h1,
h2,
h3,
h5 {
  margin: 2.75rem 0 1.05rem;
  line-height: 1.2;
  font-family: "Jost", sans-serif;
}

h4, p {
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 1em;
}

p {
  line-height: 1.3;
}

/* --------- Responsive ---------- */
@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, minmax(auto, 300px));
    overflow-y: scroll;
  }
  .item1 {
    grid-area: 1/1/2/3;
  }
  .card {
    grid-area: auto;
    text-align: left;
  }
  .card:empty {
    display: none;
  }
}

/**Alban**/
.noFixed {
  position: static;
}
.AllSpace{
height: auto;
}
 /**--------------------------------------------------------------------------------------------------------------------------Fin Du Css Anase----------------------**/