:root {
  --bg-color: #e9f0f1af;
  --bg-page: #f8f4e2;
  --custom-green : #6EAE68;
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: var(--bg-page)!important;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
}

article{
  background-color: #e3dcbeb7;
  border-radius: 10px;
}
article p{
  padding: 5px;
  margin: 10px;
  border-left: 3px solid #6EAE68;
  margin-left: 0px;
}
h1{
  color: var(--custom-green)!important;
  border-bottom: 2px solid var(--custom-green) ;
}

a{ 
  color: inherit;
  text-decoration: none!important;
} 

a:hover{
  color: white;
}

.bg-image{ 
   background-image: url(../media/img/bg-acceuil-v2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

 /* HEADER */


header{
  z-index: 1 ;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: slideToBottom 0.3s;
  transition: all 0.3s;
}

.bg-header{
  background-color: var(--bg-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar li{
  list-style: none;
  padding: 0.3em;
  margin: 0.5em;
}

.nav-link{
  font-size: large;
  font-weight: 500;
  width: 13em;
}

.nav-link a {
  color: black;
  text-decoration: none;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 4px solid var(--custom-green);
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
  }
  100% {
    max-height: 7em;
    border-top: 4px solid var(--custom-green);
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    border-radius: 6px;
  }
}

.sous-menu{
  overflow :hidden;
  max-height : 0;
  transition: all 0.3s;
  background-color: #f8f4e2;
}

.sous-menu ul li{
  transition: all 0.3s;
  text-align: center;
  font-size:medium;
  font-weight: 400;
  margin: 0;
}

.sous-menu ul li:hover{
  border-bottom: 1px solid rgb(209, 209, 24);
  cursor: pointer;
}

#menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 0.5s forwards;
}

@media screen and (max-width: 1040px)
{
  .nav-link{
    font-size: large;
    font-weight: 500;
    width: 11em;
  }
}

@media screen and (max-width: 768px)
{
  .navbar{
    width: 300px;
  }
}

/* FOOTER */  

footer{
  width: 100%;
}

.adress-footer {
  width: 70%;
  background-color: var(--custom-green);
  color: var(--bg-page);
}

.newsletter-footer{
  width: 30%;
  color: var(--custom-green);
  background-color: var(--bg-page);
}

.newsletter-footer span{
  font-size: larger;
}

@media only screen and (max-width: 768px) {
  .newsletter-footer span{
    font-size:medium;
  }

  .adress-footer {
    width: 100%;
    background-color: var(--custom-green);
    color: var(--bg-page);
  }

  .newsletter-footer{
    width: 100%;
    color: var(--custom-green);
    background-color: var(--bg-page);
  }
}
/* Animation */
@keyframes slideToRight {
  from {
    transform: translateX(-1000px);
  }
  to{
    transform: translateX(0);
  }
}
@keyframes slideToLeft {
  from {
    transform: translateX(1000px);
  }
  to{
    transform: translateX(0);
  }
}
@keyframes slideToTop {
  from {
    transform: translateY(1000px);
  }
  to{
    transform: translateY(0);
  }
}
@keyframes slideToBottom {
  from {
    transform: translateY(-1000px);
  }
  to{
    transform: translateX(0);
  }
}